h1 a,h2 a{
    color: #DE781F;
}

body{
    padding-left: 15px;
    font-family: 'Lato', sans-serif;
}

.page-header{
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.data{
color: #828282;
}